body {
  background-image: url('background.jpg');
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

#user-interface {
  background-color: #ffffff;
  width: 30%;
  max-width: 600;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.answer-button {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
  cursor: pointer;
  transition: all 0.3ms;
}
.answer-button:disabled {
  color: #000000;
  cursor: not-allowed;
}
.question {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
#next-question-button {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  animation: bounce 0.5s ease infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
.answer-selected {
  background-color: rgb(124, 124, 152);
}

.answer-correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}

.answer-incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}

.current-scores {
  margin-top: 20px;
}
